<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="phpunit.bootstrap.inc" colors="true">
	<logging>
		<log type="coverage-html" target="coverage-report" charset="UTF-8"/>
	</logging>
	<filter>
		<whitelist>
			<directory suffix=".php">../Image</directory>
			<exclude>
				<file>./run.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
